body {
    background-color: #F8F8FF;
}

.leaflet-control-attribution {
    display:none
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.rdrCalendarWrapper {
    width: 100% !important;     
    border-radius: 4px;    
  }

  .rdrMonth {
    width: 100% !important;  
    border-radius: 5px;   
  }

  .rdrDateDisplayWrapper {
    border-radius: 5px; 
  }