body {
    /* background-image: url('https://res.cloudinary.com/drxgsb2ez/image/upload/v1758420146/vew8bjhznpwgxsghybao.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#root {
  background-size: cover;
}

.leaflet-control-attribution {
    display:none
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.rdrCalendarWrapper {
    width: 100% !important;     
    border-radius: 4px;    
  }

  .rdrMonth {
    width: 100% !important;  
    border-radius: 5px;   
  }

  .rdrDateDisplayWrapper {
    border-radius: 5px; 
  }